*{
    font-family: 'Raleway', sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

  /* COMIENZA EDICIÓN DE LA PÁGINA PRINCIPAL */
.portada {
    background-color: #635857; 
    height: 100vh;
    background-size: cover;
    }

.buscador{
    display: flex;
    justify-content: end;
}

ul.navegador {
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: none;
    flex-direction: column;
}

ul.navegador.show {
    display: flex;
}

ul.navegador li {
    list-style: none;
    margin: 0px 0px;
    padding: 10px 20px;
}

ul.navegador li a {
    text-decoration: none;
    color: white;
}

ul.navegador li:hover {
    background-color: gray;
}

.logo {
    width: 100%;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;
}

.logo img{
    width: 230px;
}

.stock {
    display: block;
    top: 0px;
    background-color: #777070;
}

.menu {
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
}

.menu li {
    padding: 10px;
    list-style: none;
    margin-right: 15px;
    font-size: smaller;
}

.menu a {
    text-decoration: none;
    color: aliceblue;
}

.boton{
    display: none;
    text-align:center;
    margin-top: 10px;
}

.boton a {
    font-size: 14px;
    display: block;
    background: #423633;
    opacity: 0.6;
    padding: 10px 20px 10px 20px;
    color: white;
    text-decoration: none;
}

footer {
    position: fixed;
    bottom: 0;
    left:0%;
    width: 100%; 
    background-color: #635857;
    padding: 0%;
    justify-content: center;
}

footer li {
    list-style: none;
    margin-right: 25px;
    color: white;
    width: 10px;
}

.iconos {
    margin-top: 90px;
    display: flex;
    justify-content: center;
}

li i{
    color: antiquewhite;
}


/*COMIENZO DE EDICIÓN DE LA PAGINA INGRESO(EL FORMULARIO)*/

  .fondo{
      background-color: #635857; 
      height: 100vh;
      background-size: cover;
  }
  
  .titulo{
      display: block;
      text-align: center;
      color: antiquewhite;
  }
  
  .formulario{
      display: flex;
      justify-content: center;
      padding-top: 5px;
  }
  
  form {
      display: flex;
      flex-direction: column;
      width: 250px;
      padding: 30px; 
      color: aliceblue;
      text-align: center;
      border: solid 1px;
      border-radius: 10px;
  }
  
  form input{
      width: 250px;
      height: 20px;
      margin-bottom: 10px;
      border-radius: 10px;
      background-color: #423534;
      opacity: .6;
      color: aliceblue; 
  }

  form span{
      font-size: smaller;
      font-style:initial;
  }
  
  form button{
      width: 250px;
      height: 30px;
      border-radius: 10px;
      background-color: #423534;
      color: aliceblue;
      margin-bottom: 15px;
      opacity: .6;
  }
  
  #validarCaptcha{
      width: 250px;
      height: 20px;
      margin-left: 0px;
      margin-bottom: 10px;
      border-radius: 10px;
      background-color: #423534;
      color: aliceblue;
  }


  /* COMIENZA EDICION TABLA TALLES  */
  
  ul.navegador {
      width: 100%;
      margin: 0px;
      padding: 0px;
      display: none;
      flex-direction: column;
  }
  
      ul.navegador.show {
      display: flex;
      }
  
  ul.navegador li {
      list-style: none;
      margin: 0px 0px;
      padding: 10px 20px;
      font-size: small;
  }
  
  ul.navegador li a {
      text-decoration: none;
      color: white;
  }
  
  ul.navegador li:hover {
      background-color: gray;
  }
  
  .Talles {
      display: grid;
      grid-template-columns: 1fr;
      justify-content: center;
  }
  
  .TablaRemera {
      padding: 5%;
  }
  
  .TablaPantalon {
      padding: 5%;
  }
  
  table {
      width: 200px;
      justify-content: center;
      margin-left: 60px;
  }
  
  th {
      background-color: #423534;
      color: white;
  }
  
  td {
      border-bottom: solid 1px;
      border-top: solid 1px;
      border-right: solid 1px;
      border-left: solid 1px;
      text-align: center;
      background-color: aliceblue;
      opacity: .4;
      font-weight: bold;
  }


 /* COMIENZA EDICION STOCK Y CARRITO*/

 .fondoStock{
    background-color: #635857;
}

.barra{
    position: sticky;
    top: 0px;
    background-color: white;   
}

.menu{
    display: flex;
    justify-content: space-around;   
    margin-top: 0;   
}

.menu li{
    padding: 10px;
    position: sticky;
    list-style: none;
    margin-right: 25px;   
}

.menu a{
    text-decoration: none;  
    color: black;
}

.imagenesremeras{
    margin-top: 7%;
    display: flex;    
    flex-wrap: wrap;
    margin-left: 20%;
}

.imagenesremeras img{
    height: 100px;
    width: 100px;
    padding: 2%;
}

.imagenesbuzos{
    margin-top: 7%;
    display: flex;    
    flex-wrap: wrap;
    margin-left: 20%;
}

.imagenesbuzos img{
    height: 100px;
    width: 100px;
    padding: 2%;
}

.imagenespantalones{
    margin-top: 7%;
    display: flex;    
    flex-wrap: wrap;
    margin-left: 20%;
}

.imagenespantalones img{
    height: 100px;
    width: 100px;
    padding: 2%;
}

#miTabla {
    margin-left: 150px;
}

#miFormulario {
    margin-left: 120px;
    margin-top: 20px;
}

#btnBorr, #btnBorrTodo, #btnAdd3 {
    height: 30px;;
}



/*QUERY DE LA PAGINA INDEX Y DEL NAV*/

@media only screen and (min-width: 660px){
    .portada {
        background: url("../img/fondogral.png");
        height: 100vh;
        background-size: cover;
    }
    
        .btn_menu {
        display: none;
    }
    
    .menu{
        margin-top: 0%;
    }
    
    ul.navegador {
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        position: relative;
        z-index: 0;  
    }
    
        ul.navegador li {
        list-style: none;
        margin: 0px 0px;
        padding: 10px 20px;
        font-size: large;   
    }
    
    .logo {
        width: 200px;
    }
    
    .logo img{
        margin-top: 0%;
        width: 200px;
    }
    
    .stock {
        display: none;
    }
    
    .boton {
        display: inline-block;
    }  
    
    footer {
        position: fiex;
        background-color: transparent;
        padding: 0;
        width: 100%;
    }
    
    footer li {
        list-style: none;
        margin-right: 25px;
        color: white;
        width: 10px;
    }
    
    .iconos {
        display: flex;
        justify-content: end;
        font-size: 14px;
    }
    
    li i{
        color: antiquewhite;
    }

/*QUERY DE LA PAGINA INGRESO*/
    .fondo{
        background: url("../img/fondogral.png");
        background-size: cover;
        height: 100vh;
    }

    h3{
        display: none;
    }

    form{
        margin-top: 100px;
    }  

  /* QUERY DE TALLES */
    .portada{
        background: url("../img/fondogral.png");
        background-size: cover;
        height: 100vh;
    }

    .btn_menu {
    display: none;
}

    .menu{
    margin-top: 0%;
}

    ul.navegador {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        position: relative;
        z-index: 0;
}

    .Talles {
        display: flex;
        justify-content: center;
        margin-top: 5%;
    }

    .TablaRemera {
        padding: 5%;
    }

    .TablaPantalon {
        padding: 5%;
    }

    table {
        width: 500px;
    }

    th {
        background-color: #423534;
        color: white;
    }

    td {
        border-bottom: solid 1px;
        border-top: solid 1px;
        border-right: solid 1px;
        border-left: solid 1px;
        text-align: center;
        background-color: aliceblue;
        opacity: .4;
        font-weight: bold;
}

/* QUERY DE STOCK */
    .fondoStock{
        background-color: #635857;
}

    .barra{
        position: sticky;
        top: 0px;
        background-color: white;
}

    .menu{
        display: flex;
        justify-content: space-around;   
        margin-top: 0;
}

    .menu li{
        padding: 10px;
        position: sticky;
        list-style: none;
        margin-right: 25px;   
}
    
    .menu a{
        text-decoration: none;  
        color: black;
}
    
    .imagenesremeras{
        margin-top: 7%;
        display: flex;    
        flex-wrap: wrap;
        margin-left: 20%;
}   
    
    .imagenesremeras img{
        height: 250px;
        width: 250px;
        padding: 2%;
}

    .imagenesbuzos{
        margin-top: 7%;
        display: flex;    
        flex-wrap: wrap;
        margin-left: 20%;
}
    
    .imagenesbuzos img{
        height: 250px;
        width: 250px;
        padding: 2%;
}

    .imagenespantalones{
        margin-top: 7%;
        display: flex;    
        flex-wrap: wrap;
        margin-left: 20%;
}
    
    .imagenespantalones img{
        height: 250px;
        width: 250px;
        padding: 2%;
}

#miTabla {
    margin-left: 450px;
}

#miFormulario {
    margin-left: 550px;
    margin-top: 20px;
}
}